{% extends 'backoffice/master.html' %}
{% load i18n %}
{% block title %}{{ context.name }} Details{% endblock %}
{% block header %}
  {% include 'backoffice/header.html' with title="{{ context.name }} Details" %}
{% endblock %}
{% block layout %}
<div class="container-xl px-4 ">
  <div class="card mb-4">
    <div class="card-header">{{ context.name }} Details</div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ {{ context.name|lower }}.name }}</dd>
        <dt class="col-sm-3">Description</dt>
        <dd>
          <div class="d-inline-block text-nowrap">
            {{ {{ context.name|lower }}.description|safe }}
          </div>
        </dd>
        <dt class="col-sm-3">User</dt>
        <dd class="col-sm-9">{{ {{ context.name|lower }}.user }}</dd>
        <dt class="col-sm-3">Created at</dt>
        <dd class="col-sm-9">{{ {{ context.name|lower }}.created_at }}</dd>
        <dt class="col-sm-3">Updated at</dt>
        <dd class="col-sm-9">{{ {{ context.name|lower }}.updated_at }}</dd>
      </dl>
      <a href="{% url '{{ context.name|lower }}-edit' {{ context.name|lower }}.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url '{{ context.name|lower }}-list' %}" class="btn btn-secondary">Back to list</a>
    </div>
  </div>
</div>
{% endblock %}
