{% extends 'backoffice/master.html' %}

{% load static %}
{% load i18n %}

{% block title %}[[ name ]] Details{% endblock %}
{% block header %}
  {% include 'backoffice/header.html' with title="[[ name ]] Details" %}
{% endblock %}
{% block layout %}
<div class="container-xl px-4 ">
  <div class="card mb-4">
    <div class="card-header">[[ name ]] Details</div>
    <div class="card-body">
      <dl class="row">
        [% for table_column in tables_columns %]
          <dt class="col-sm-3">[[ table_column.label ]]</dt>
          <dd class="col-sm-9">[[ name ]].[[ table_column.name ]]</dd>
        [% endfor %]
        <dt class="col-sm-3">Created at</dt>
        <dd class="col-sm-9">[[ name ]].created_at</dd>
        <dt class="col-sm-3">Updated at</dt>
        <dd class="col-sm-9">[[ name ]].updated_at</dd>
      </dl>
      <a href="{% url '[[ name|lower ]]-edit' [[ name|lower ]].id %}" class="btn btn-primary">Edit</a>
      <a href="{% url '[[ name|lower ]]-list' %}" class="btn btn-secondary">Back to list</a>
    </div>
  </div>
</div>
{% endblock %}
